<div class="center">
  <form action="action_page.php" method="post">
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input
        [(ngModel)]="user.username"
        type="text"
        placeholder="Enter Username*"
        name="uname"
        required
      />

      <label for="psw"><b>Password</b></label>
      <input
        [(ngModel)]="user.password"
        type="password"
        placeholder="Enter Password*"
        name="psw"
        required
      />
      <button type="submit" (click)="login()">Login</button>
    </div>

    <div
      class="container"
      *ngIf="errorMessege"
      style="background-color:#f1f1f1"
    >
      <h1>{{ errorMessege }}</h1>
    </div>
  </form>
</div>
